<div class="warehouse-list text-color">
    <h4><b>Warehouse - Gadsden Court</b></h4>
    <hr>
</div>

<div class ="container-fluid">
  <div class ="row">
    
    <div class ="col-md-8 col-sm-8 col-md-8 col-xs-8">
       <p class="text-color"><b>Location</b></p>
       <p>Region:APAC</p>
       <p>Region:Australia</p>
       <p>Address:Gadsen Court,Wondonga</p>
       <p>Nearest Town or city:Wondonga</p>
       <p>State:VIC</p>
       <p>Postal code:3690</p>
    <br>
    <p class="text-color"><b>Category</b></p>
       <p>Inbound:OUT</p>
       <p>Segement(s):Pectcare Nutrition</p>
       <br>
       <p class="text-color"><b>Contract</b></p>
       <p>Expiration Date:July 2018(in 6 month)</p>
       <p>Price:35 000 $ for 2 years</p>
       <p>Pallet Number max:35 000</p>
       <p>Unit of measure:plts avg</p>
       <p>Price Pallet ratio:1</p>
       <br>
       
     </div>
     <div class ="col-md-4 col-sm-4 col-md-4 col-xs-4">
        <img src="assets/images/warehouse.jpg" class="img-rounded" alt="warehouse">
      </div>
  </div>
</div>




    