<div class="warehouse-list text-color">
    <h4><b>Warehouse - Gadsden Court</b></h4>
    <hr>
</div>

<div class ="container-fluid">
  <div class ="row">
    
    <div class ="col-md-6 col-sm-6 col-md-6 col-xs-6">
       <p class="text-color"><b>Location</b></p>
       <p>Region:APAC</p>
       <p>Region:Australia</p>
       <p>Address:Gadsen Court,Wondonga</p>
       <p>Nearest Town or city:Wondonga</p>
       <p>State:VIC</p>
       <p>Postal code:3690</p>
    <br>
    <p class="text-color"><b>Category</b></p>
       <p>Inbound:OUT</p>
       <p>Segement(s):Pectcare Nutrition</p>
       <br>
       <p class="text-color"><b>Contract</b></p>
       <p>Expiration Date:July 2018(in 6 month)</p>
       <p>Price:<input id="to-amount" type="number" [(ngModel)]="toAmount" 
        (ngModelChange)="calculate(true)"> for 2 years 
        <select class="btn btn-primary" id="fromCurrency" [(ngModel)]="fromCurrency" (ngModelChange)="convert(false, false)">
            <option *ngFor="let rate of rates" [value]="rate.id">{{ rate.id }}</option>
        </select>
        </p>
       <p class="error" style="color: red; font-weight: bold;" *ngIf="error">Error: {{ this.error }}</p>
       <p>Pallet Number max:35 000</p>
       <p>Unit of measure:plts avg</p>
       <p>Price Pallet ratio:1</p>
       <p style="margin-left:100px">
        <bar-rating name="rating" [(rate)]="movieRating" [max]="5" [theme]="'movie'" [showText]="true"
                        [titles]="['Bad', 'Medium' , 'Ok', 'Good','Awesome']"  disabled></bar-rating>
        
        Your rating: {{movieRating}}
       </p>

    
     </div>

     
     
     <div class ="col-md-6 col-sm-6 col-md-6 col-xs-6">
        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="lat" [longitude]="lng">
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
            </agm-marker>
            
          </agm-map>
          <div class="export"> 
            <button class="btn btn-primary" (click)="exportToExcel()">Export&nbsp;<i class="fa fa-sort-down"></i></button> 
          </div>
      </div>
  </div>


</div>




    