.parametersPanel{
    background-color: #66afe9;
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background-color: #66afe9;
}
.mat-expansion-panel-header.mat-expanded{
    background-color: #66afe9;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    padding:5px;
}
.panel-description{
    padding:30px;
}

