.warehouses-count {
    text-align:right;
    margin-bottom:10px;
  }
  .export{
    text-align:right;
  }
  .calculator-secondarysearch{
    margin-right:10px;
  }
  .check-button{
    margin-left:-23px;
  }
  .text-color{
    color:#66afe9;
  }

  hr { 
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: #66afe9;
  }
  .pie-img{
    height: 300px;
    width: 136px;
    margin-left: -42px;
  }