<div style="width: 100%;">
	<div class="warehouse-list text-color">
	<h4><b>Calculation - Contract time</b></h4>
	<hr>
	</div>

	<form class="form-horizontal">

		<div class="row col-xs-12">
			<div class="form-group col-xs-6 calculator-secondarysearch">
				<select id="company" class="form-control" (change)="onClickPrimaryFilterValue(value)"
					[(ngModel)]="warehouseSearch.primaryFilterType" name="primaryFilterType"
					#primaryFilterType="ngModel">
					<option value=""> Select region name</option>
					<option *ngFor="let primaryFilterType of primaryFilterTypes" [ngValue]="primaryFilterType.name">{{primaryFilterType.name}}</option>
				</select>
			</div>
			
			<div class="form-group col-xs-6">
				<select class="form-control" [(ngModel)]="warehouseSearch.primaryFilterValue"
					name="primaryFilterValue" #primaryFilterValue="ngModel">
					<option value=""> Select region value</option>
					<option *ngFor="let primaryFilterValue of primaryFilterValues" [ngValue]="primaryFilterValue.name">{{primaryFilterValue.name}}</option>
				</select>
			</div>
		</div>

		<div class="row col-xs-12">
		
			<div class="form-group col-xs-6 calculator-secondarysearch">
				<select id="company" class="form-control" (change)="onChangeSecondaryFilterType()"
					[(ngModel)]="warehouseSearch.secondaryFilterType" name="secondaryFilterType"
					#secondaryFilterType="ngModel">
					<option value=""> Select country name</option>
					<option *ngFor="let secondaryFilterType of secondaryFilterTypes" [ngValue]="secondaryFilterType.name">{{secondaryFilterType.name}}</option>
				</select> 
			</div>
			<div class="form-group col-xs-6">
				<select class="form-control" [(ngModel)]="warehouseSearch.secondaryFilterValue"
					name="secondaryFilterValue" #secondaryFilterValue="ngModel">
					<option value=""> Select country value</option>
					<option *ngFor="let secondaryFilterValue of secondaryFilterValues" [ngValue]="secondaryFilterValue.name">{{secondaryFilterValue.name}}</option>
				</select> 
			</div>
		</div>

		<div class="row">
				<div class="col-12 col-md-12 text-center text-md-right filter-text check-button"> 
						<button class="btn btn-primary" (click)="onFilter()">CHECK</button> 
				</div>
		</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSourceCal" matSort>

	<ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color" style="display:none"> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display:none"> {{element.no}} </mat-cell>
    </ng-container>
    <!-- Warehouse Column -->
    <ng-container matColumnDef="warehouse">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> warehouse </mat-header-cell>
      <mat-cell *matCellDef="let element " class="text-color"> 
					<a routerLink="/warehouseDetails">&nbsp;&nbsp;{{element.warehouse}}</a>
			 </mat-cell>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <!-- Segments Column -->
    <ng-container matColumnDef="segments">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> segments </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.segments}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="row">
				<div class="col-12 col-md-12 warehouses-count"> 
						Warehouses found:4
				</div>
</div>
<div class="row text-color global-details">
		<div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
				<b>Global details</b>
		</div>
</div>
<br>

</form>
<div class ="container-fluid">
    <div class ="row">
      <div class ="col-lg-2 col-md-2 col-sm-2 col-xs-12 cal-text">
					<p class="text-color"><b>Overview</b></p>
					<br>
					<p>88 contract finish in 2018</p>
      </div>
      <div class ="col-lg-2 col-md-2 col-sm-2 col-xs-12 cal-text">
          <p class="text-color"><b>Segments</b></p>
					<br>
					<p>Royal Canin: 30</p>
					<p>Pet Nutrition: 5</p>
					<p>Chocolate: 15</p>
					<p>Food: 2</p>
					<p>Drinks: 1</p>
					<p>Wrigley: 10</p>
					<p>Cross Segment:</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<p class="text-color"><b>5 Countries with the most contracts to <br>re-do in 2018</b></p>
						<canvas baseChart
								[data]="chartData"
								[labels]="chartLabels"
								[chartType]="chartType"
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)"></canvas>
				</div>
			<div class ="col-lg-2 col-md-2 col-sm-2 col-xs-12 cal-text">
          <p class="text-color"><b>Region in 2018</b></p>
					<br>
					<p>APAC: 25</p>
					<p>CIS: 8</p>
					<p>Chocolate: 15</p>
					<p>Europe: 18</p>
					<p>Latam: 5</p>
					<p>MENA: 2</p>
					<p>NA:30</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<p class="text-color"><b>5 Countries with the most contracts to <br>re-do in 2018</b></p>
          <canvas baseChart
              [data]="chartData"
              [labels]="chartLabels"
              [chartType]="chartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
			</div>
    </div>
  </div>
</div>

<div class="view">
      <h2>Angular Bar Rating</h2>
      
      <bar-rating [(rate)]="starRating"></bar-rating>
      
      <bar-rating name="rating" [(rate)]="movieRating" [max]="4" [theme]="'movie'" [showText]="true"
                      [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"  disabled></bar-rating>
                      
      <bar-rating [(rate)]="vRating" [max]="10" [theme]="'vertical'" [showText]="true"></bar-rating>
    
      <bar-rating [rate]="faoRating" (rateChange)="onFaoRate($event)" [max]="10" [theme]="'fontawesome-o'"></bar-rating>
      
      <p *ngIf="!faoRated">Current rating: {{faoRating}}</p>
      <p *ngIf="faoRated">Your rating: {{faoRating}} <i class="link fa fa-times-circle" (click)="faoReset(5.6)"></i></p>
  
    </div>