<div style="width: 100%;">
	<div class="warehouse-list text-color">
	<h4><b>Calculation - Contract time</b></h4>
	<hr>
	</div>

	<form class="form-horizontal">

		<div class="row col-xs-12">
			<div class="form-group col-xs-6 calculator-secondarysearch">
				<select id="company" class="form-control"
					[(ngModel)]="calculationSearch.region" name="region"
					#region="ngModel">
					<option *ngFor="let region of regions" [ngValue]="region.name">{{region.name}}</option>
				</select>
			</div>
			
			<div class="form-group col-xs-6">
				<select class="form-control" [(ngModel)]="calculationSearch.country"
					name="country" #country="ngModel">
					<option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
				</select>
			</div>
		</div>

		<div class="row col-xs-12">
		
			<div class="form-group col-xs-6 calculator-secondarysearch">
				<select id="company" class="form-control"
					[(ngModel)]="calculationSearch.region" name="region"
					#region="ngModel">
					<option *ngFor="let region of regions" [ngValue]="region.name">{{region.name}}</option>
				</select> 
			</div>
			<div class="form-group col-xs-6">
				<select class="form-control" [(ngModel)]="calculationSearch.country"
					name="country" #country="ngModel">
					<option *ngFor="let country of countries" [ngValue]="country.name">{{country.name}}</option>
				</select> 
			</div>
		</div>

		<div class="row">
				<div class="col-12 col-md-12 text-center text-md-right filter-text check-button"> 
						<button class="btn btn-primary" (click)="onSubmit()">CHECK</button> 
				</div>
		</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSourceCal" matSort>

	<ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color" style="display:none"> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display:none"> {{element.no}} </mat-cell>
    </ng-container>
    <!-- Warehouse Column -->
    <ng-container matColumnDef="warehouse">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> warehouse </mat-header-cell>
      <mat-cell *matCellDef="let element " class="text-color"> {{element.warehouse}} </mat-cell>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>

    <!-- Segments Column -->
    <ng-container matColumnDef="segments">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="text-color"> segments </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.segments}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="row">
				<div class="col-12 col-md-12 warehouses-count"> 
						Warehouses found:4
				</div>
</div>

</form>
<div class ="container-fluid">
    <div class ="row">
      <div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
					<p class="text-color"><b>Overview</b></p>
					<br>
					<p>88 contract finish in 2018</p>
      </div>
      <div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
          <p class="text-color"><b>Segments</b></p>
					<br>
					<p>Royal Canin: 30</p>
					<p>Pet Nutrition: 5</p>
					<p>Chocolate: 15</p>
					<p>Food: 2</p>
					<p>Drinks: 1</p>
					<p>Wrigley: 10</p>
					<p>Cross Segment:</p>
			</div>
			<div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
					<img src="assets/images/piechart.png" class="pie-img" alt="pieimg">
			</div>
			<div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
          <p class="text-color"><b>Region in 2018</b></p>
					<br>
					<p>APAC: 25</p>
					<p>CIS: 8</p>
					<p>Chocolate: 15</p>
					<p>Europe: 18</p>
					<p>Latam: 5</p>
					<p>MENA: 2</p>
					<p>NA:30</p>
			</div>
			<div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
          <img src="assets/images/piechart.png" class="pie-img" alt="pieimg">
			</div>
			<div class ="col-md-2 col-sm-2 col-md-2 col-xs-2">
					<p class="text-color"><b>5 Countries with the most contracts to <br>re-do in 2018</b></p>
					<br>
					<p>USA: 20</p>
					<p>Australia: 10</p>
					<p>Canada: 10</p>
					<p>Germany: 8</p>
					<p>Japan: 6</p>
			</div>
    </div>
  </div>
</div>

