
  <div class ="container-fluid">
    <div class ="row">
      <div class ="col-md-4 col-sm-4 col-md-4 col-xs-4">
          <img src="assets/images/warehouse.jpg" class="img-rounded" alt="warehouse">
      </div>
      <div class ="col-md-8 col-sm-8 col-md-8 col-xs-8">
         <p>This Site has the ambition of being the master data tool about warehouse.</p>
         <p>It wants to be useful website to manage all the warehouse details,from their localization to the
           contract Mars has with them.</p>
      <br>
      <p> On this website you find a warehouse map,warehouse list and details,as comparison tool or calculation
        about pallet and contract.</p>
        <p>Some helping tool are available.,Like a tutorial,FAQ,and quizz.</p>
      <br>
      <p>We will happy to have your feedback,please use the smiley button at the top of this website to let
        us know what you think about this site and how we can impove it.
      </p>
         
       </div>
    </div>
  </div>
  <div style="width: 100%; margin-top: 50px">
      <div class="warehouse-list text-color">
      <h4><b>Map</b></h4>
      <hr>
      </div>
      <agm-map [latitude]="lat" [longitude]="lng"></agm-map>


