
<div class="container">
    
    <mat-toolbar>   
        <mat-toolbar-row>
          
            <div class="container navbar navbar-default row navbar-first">
                
                <div class="navbar-header pull-left">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                  <a class="navbar-brand" href="#">
                      <img src="assets/images/logo.png" class="img-rounded" alt="logo">
                    <img src="assets/images/home-icon.png" class="img-rounded" alt="toolbar">
                    &nbsp;&nbsp;<span>Warehouses</span>
                  </a>
                </div>
                
                <div class="collapse navbar-collapse pull-right">
                  <ul class="nav navbar-nav">
                      <span class="example-spacer"></span>
                      <span class="example-spacer"></span>
                      <span class="example-spacer"></span>
                    <li><a routerLink="/notifications" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> <i class="fa fa-bell-o toolbar-icon" style="font-size:24px"></i></a></li>
                    <li><a routerLink="/settings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-gear fa-spin toolbar-icon" style="font-size:24px"></i></a></li>
                    <li><a routerLink="/help" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> <i style="font-size:24px" class="fa toolbar-icon">&#xf128;</i></a></li>
                    <li><a routerLink="/user" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"> <i class="fa fa-user-circle" style="font-size:24px"></i> &nbsp;user</a></li>
                    
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            
            <div class="row container navbar navbar-default navbar-color">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                      <i class="fa fa-home" style="font-size:24px"></i> &nbsp;Home</a></li>
                    <li><a routerLink="/sites" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="glyphicon glyphicon-map-marker" style="font-size:24px"></i>&nbsp;Sites</a></li>
                    <li><a routerLink="/calculator" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-calculator" style="font-size:24px"></i> &nbsp;Calculation</a></li>
                    <li class="dropdown" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-info-circle" style="font-size:24px"></i>&nbsp;Help <span class="caret"></span></a>
                      <ul class="dropdown-menu" >
                        <li><a routerLink="/quiz" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-question-circle" style="font-size:24px"></i> &nbsp;Quiz</a></li>
                        <li><a routerLink="/faq" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-question" style="font-size:24px"></i>&nbsp;&nbsp;FAQ</a></li>
                      </ul>
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
              
        </mat-toolbar-row>
      </mat-toolbar>
<!-- Wrap all page content here -->



<div id="wrap">
  <!-- Begin page content -->
  <div class="center-container">
    <div class="center-row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    </div>
    <router-outlet></router-outlet>
    <div class="center-row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    </div>
  </div>
</div>

</div>


    <!--Footer-->
<footer class="fixed-bottom-footer navbar footer fixed-bottom footer-light footer-shadow content container-fluid col-12 col-md-12">
            <!--Grid row-->
            <div class="row py-4 d-flex col-12 col-md-12">
                 <!-- Copyright-->
                <div class="col-5 col-md-5 footer-copyright text-center">
                  <div class="footer-rights">&nbsp;</div>
                    © 2017 Mars,Incorporated and its Affiliates.All Rights Reserved.
                </div>
                  <!--/.Copyright -->
                <!--Grid column-->
                <div class="col-7 col-md-7 col-xs-12 text-center text-md-right media-footer">
                    
                    
                    Follow Mars social media policy
                  
                  
                    <!--Facebook-->
                    <a class="btn-floating btn-sm btn-fb mx-1 waves-effect waves-light">
                        <i class="fa fa-facebook white-text mr-lg-4 fa-footer"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4 fa-footer"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4 fa-footer"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4 fa-footer"> </i>
                    </a>
                    <!--Youtube-->
                    <a class="yt-ic">
                        <i class="fa fa-youtube white-text mr-lg-4 fa-footer"></i>
                      </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4 fa-footer"> </i>
                    </a>
                 
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
</footer>
<!--/.Footer-->
 