<div style="width:80%; margin:0 auto;">
<!-- Wrap all page content here -->
<div id="wrap">
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WareHouse App</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/home">Home</a></li>
          <li><a routerLink="/sites">Sites</a></li>
          <li><a routerLink="/calculator">Calculation</a></li>
          <li class="dropdown">
            <a routerLink="/help" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/quiz">Quiz</a></li>
              <li><a routerLink="/faq">FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="center-container">
    <div class="center-row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    </div>
    <router-outlet></router-outlet>
    <div class="center-row">
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    </div>
  </div>
</div>
</div>
    <!--Footer-->
<footer class="page-footer font-small blue-grey lighten-5 pt-0">

    <div>
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex">
                 <!-- Copyright-->
                <div class="col-6 col-md-6 footer-copyright text-center">
                    © 2017 Mars,Incorporated and its Affiliates.All Rights Reserved.
                </div>
        <!--/.Copyright -->
                
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-6 col-md-6 text-center text-md-right">
                    <!--Facebook-->
                    Follow Mars social media policy
                    <a class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    

   

</footer>
<!--/.Footer-->
 