/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.primary-search{
  display: block;
  width: 100%;
  background-image: none;
  border: 1px solid #ccc;
}

.primary-search:focus {
  border-color: #66afe9;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  border-color: #66afe9;
}

.filter-text{
  color:#66afe9;
  margin-bottom:2px;
}
.warehouse-map{
  margin-top:10px;
}
.warehouses-count {
  text-align:right;
  margin-bottom:10px;
  margin-top:10px;
}
.export{
  text-align:right;
}
.text-color{
  color:#66afe9;
}
.fa-sort-down{
  padding:0px;
}
.secondary-search{
  margin-right:10px;
}
.mat-header-row{
  border-bottom-color : #66afe9;
}
.mat-row{
  border-bottom-color : #ccc;
}

span.cdk-visually-hidden{
 display : none !important;
 color:red !important;
}


